<div>
  <p>Contact Information</p>
  <p>123-456-7890</p>
  <p>colutymap@email.com</p>
</div>
<div>
  <p>Follow for more</p>
  <a href="https://facebook.com" target="_blank">
    <img src="data/images/facebook_logo.webp" alt="facebook icon">
  </a>
  <a href="https://instagram.com" target="_blank">
    <img src="data/images/instagram-logo.webp" alt="instagram icon">
  </a>
  <a href="https://youtube.com" target="_blank">
    <img src="data/images/youtube_logo.webp" alt="twitter icon">
  </a>
</div>
<div>
  <p>About</p>
  <p>This is a non profit application to showcase the films of COLUTYMA PRODUCTIONS and my skills as an aspiring web developer.</p>
  <img src="data/images/tmdb_logo.webp" alt="The Movie Database logo">
  <p>Notice: This product uses the TMDB API but is not endorsed or certified by TMDB.</p>
</div>
<p>COLUTYMA PRODUCTIONS &copy; 2024 - Joanna Gohnert</p>