<div class="contact">
  <h5>CONTACT INFORMATION</h5>
  <p>123-456-7890</p>
  <p>colutymap@email.com</p>
</div>
<div class="social-media">
  <h5>FOLLOW FOR MORE</h5>
  <a href="https://facebook.com" target="_blank">
    <img src="data/images/facebook_logo.webp" alt="facebook icon" width="70">
  </a>
  <a href="https://instagram.com" target="_blank">
    <img src="data/images/instagram-logo.webp" alt="instagram icon" width="70">
  </a>
  <a href="https://youtube.com" target="_blank">
    <img src="data/images/youtube_logo.webp" alt="twitter icon" width="70">
  </a>
</div>
<hr class="wide-hr">
<div class="about-tmdb">
  <h5>ABOUT</h5>
  <a href="https://www.themoviedb.org" target="_blank">
    <img src="data/images/tmdb_logo.webp" alt="The Movie Database logo">
  </a>
  <p>Notice: This product uses the TMDB API but is not endorsed or certified by TMDB.</p>
  <p>The COLUTYMA PRODUCTION website is non profit application to showcase the films of COLUTYMA PRODUCTIONS and my skills as a web developer.</p>
</div>
<div class="copyright">
  <p>COLUTYMA PRODUCTIONS &copy; 2024 - Joanna Gohnert</p>
</div>