<div>
  <p>Contact Information</p>
  <p>123-456-7890</p>
  <p>colutymap@email.com</p>
</div>
<div>
  <p>Follow for more</p>
  <a href="https://facebook.com" target="_blank">
    <img src="data/images/facebook_logo.webp" alt="facebook icon">
  </a>
  <a href="https://instagram.com" target="_blank">
    <img src="data/images/instagram-logo.webp" alt="instagram icon">
  </a>
  <a href="https://youtube.com" target="_blank">
    <img src="data/images/youtube_logo.webp" alt="twitter icon">
  </a>
</div>
<p>COLUTYMA PRODUCTIONS &copy; 2024 - Joanna Gohnert</p>