<img id="col-logo" src="data/images/colutyma_productions_logo.webp" alt="Colutyma Productions logo">
<button id="menu" type="button"></button>
<nav class="navigation">
  <a href="index.html">HOME</a>
  <a href="movie-list.html">MOVIES</a>
  <a href="actors.html">ACTORS</a>
  <a href="donations.html">DONATE</a>
</nav>
<div class="search-bar">
  <form name="searchForm" id="searchForm" action="#" method="get">
    <input id="search" name="search" type="search" placeholder="Search Movie..." >
  </form>
</div>