html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(132, 176, 212);
}

header,
footer {
    padding: 50px 10px;
    text-align: center;
    background: #1c4e77;
    color: white;
}

main {
    padding: 5%;
    margin: auto 5%;
}

.message {
    padding: 20px;
    margin: 2% 10%;
    text-align: center;
    border-radius: 4px;
    color: #030516;
    background: #9ec5e6;
}

.vanish {
    padding: 20px;
    margin: 2% 10%;
    text-align: center;
    border-radius: 4px;
    color: #030516;
    background: #9ec5e6;
}

.list {
    padding: 20px;
    margin: 0% 10%;
    text-align: center;
    background: #9ec5e6;
}
