html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: rgb(212, 132, 132);
}

header,
footer {
    padding: 50px 10px;
    text-align: center;
    background: #5f3737;
    color: white;
}

main {
    padding: 5%;
    text-align: center;
}

div {
    background: rgb(228, 186, 186);
    margin: 5% 20%;
    padding: 50px 20px;
    border-radius: 4px;
    text-align: center;
}