@media (min-width: 40em) {

    header {
        padding-bottom: 15px;
    }

    #menu {
		display: none; 
	}

    .navigation {
        margin-top: 50px;
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    h2 {
        font-size: 35px;
    }
    
    section {
        font-size: 20px;
        padding: 5% 5% 5% 0%;
    }

    .activity {
        padding-left: 0%;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-position: inside;
    }

    ol {
        list-style-position: inside;
        text-indent: -1em;
    }

}